<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiecheng_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7c9daac55e90a439f7b4304b465297fa"
            />
        </application>
</manifest>
